body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background: #F4F4F7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  width: 100%;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 40px;
}
.header {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.header a {
  display: block;
  float: right;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 16px;
}
#intro {
  height: calc(100vh - 80px);
  border: 1px solid black;
  background-image: radial-gradient(circle, #392979 0%, #100B25 100%);
}
#intro .intro {
  margin-top: 35vh;
  max-width: 600px;
}
#intro .intro h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  color: white;
  margin-bottom: 20px;
}
#intro .intro p {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}
#features {
  height: 650px;
}
#features h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
}
#features p {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 100;
  color: #49494A;
}
#features .feature {
  width: 30%;
  float: left;
  text-align: center;
}
#features .feature img {
  width: 250px;
}
#features .feature p {
  font-size: 14px;
}
