include ./includes/head.jade

.header
  .logo
  a(href="#footer") Contact

section#intro
  .particles
  .container
    .intro
      h1 Personalized Learning <br> Powered by Science
      p Effective teaching platforms based on machine learning for students from Kindergarten to college and beyond.

section#features

  .container
    h2 Areas of Focus
    p Snapwiz learning platforms help K-12 educators deliver personalized instruction, gauge student understanding and communicate more effectively with students and parents.
    
    .feature
      img(src="files/k12.png")
      h3 K-12
      p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.
    
    .feature
      img(src="files/university.png")
      h3 University
      p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.

    .feature
      img(src="files/professional.png")
      h3 Professional
      p Portland ugh fashion axe Helvetica, YOLO Echo Park. Portland ugh fashion axe Helvetica, YOLO Echo Park.
              
section#products


section#team

section#partners

section#footer
